/node_modules
/public/hot
/public/storage
/public/a_assets
/storage/*.key
/vendor
/config
/database
/public
/storage
/storage

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
webpack.mix.js
composer.lock
.git-credentials
package-lock.json
/storage/
.git-credentials